extends layout

block content

 h1= title
  div(class="demo")
    a(class="permalink", href="/") ← назад
    p
    h1 Эмуляция реального устройства
    #wrapper
      #sendRequest
        fieldset
          p Поле deviceId
          input#inputDeviceId(type='text', value="100")
          br
          p Поле device (описание устройства)
          p
          input#inputDevice(type='text', value="Ретранслятор")
          br
          p Поле ответов устройств answer
          p
          input#inputAnswer(type='text', value=answer,size = 100)
          br
          p
          button#ButsendRequest(rel="device._id") Отправить запрос