extends layout

block content

  if(user)
    if(user.username == "test")
      header
        nav(id="menu",class="default")
          ul
            li()
              a(href="/") Устройства
            li()
              a(href="/show_user") Пользователи

  div(class="demo")
    p
        if(user)
          #user
            div(class="user-card")
              img(src="#{user.photoUrl}", alt="")
              div(class="user-data")
                span Имя: #{user.username}
              div(class="user-data")
                form(action="/sign-out" method="get")
                  button(type="submit") Выйти
                div(class="clear")

          if(user.username == "test")
            //здесь будет добавление новых устройств 
            p
            form(action="/add-device" method="get")
              button(type="submit") Добавить новое устройство
            #wrapper
              p
              #deviceListEdit
                  table
                      thead
                          th Название
                          th Описание
                          th Время 
                          th Состояние
                          th Удалить
                      tbody
          else  
            // это отображение текущих устройств 
            #wrapper
              h1 Список устройств
              div(class="clear")
                #deviceListView
                    table
                        thead
                          th Название
                          th Описание
                          th Время 
                          th Состояние
                        tbody
        else
          div(class="parent")
            div(class="block")
              div(class="auth-form")
                  form(action="/auth" method="post")
                    div
                    input(type="text" name="username" class="input user" placeholder="логин")
                    div
                    input(type="password" name="password" class="input password" placeholder="пароль")
                    div(class="buttons")
                    span Введите логин и пароль &nbsp;
                    button(type="submit") Войти