extends layout

block content
  div(class="demo")

    p
      #user
        if(user)
          div(class="user-card")
            img(src="#{user.photoUrl}", alt="")
            div(class="user-data")
              span Имя: #{user.username}
              br
              span Профиль: <a href="#{user.profileUrl}">#{user.profileUrl}</a>
              br
              div(class="clear")
          a(href="/sign-out", class="sign-out") Выйти ←
        else
          p Вы не авторизованы!
          a(href="/auth") Авторизоваться →