extends layout

block content
  div(class="demo")
    p
        if(user)
          #user
            div(class="user-card")
              img(src="#{user.photoUrl}", alt="")
              div(class="user-data")
                span Имя: #{user.username}
              div(class="user-data")
                form(action="/sign-out" method="get")
                  button(type="submit") Выйти
                div(class="clear")

          if(user.username == "test")
            //здесь будет добавление новых устройств 
            p
            form(action="/add-device" method="get")
              button(type="submit") Добавить новое устройство
            #wrapper
              p
              #deviceListEdit
                  table
                      thead
                          th Id Устройства
                          th Описание
                          th Удалить
                      tbody
          else  
            // это отображение текущих устройств 
            #wrapper
              h2 Список устройств
                #deviceListView
                    table
                        thead
                            th Id Устройства
                            th Описание
                        tbody
        else
          div(class="auth-form")
            form(action="/auth" method="post")
              div
              input(type="text" name="username" class="input user" placeholder="логин")
              div
              input(type="password" name="password" class="input password" placeholder="пароль")
              div(class="buttons")
              span Логин и пароль <strong>admin</strong>&nbsp;
              button(type="submit") Войти
