extends layout

block content
  div(class="demo")

    p
        if(user)
          #user
            div(class="user-card")
              img(src="#{user.photoUrl}", alt="")
              div(class="user-data")
                span Имя: #{user.username}
              div(class="user-data")
                form(action="/sign-out" method="post")
                  button(type="submit") Выйти
                div(class="clear")

          div(class="wrapper")
            h2 Список устройств
              div(class="deviceList")
                  table
                      thead
                          th Id Устройства
                          th Описание
                      tbody
        else
          p Вы не авторизованы!
          form(action="/auth" method="get")
            button(type="submit") Войти