extends layout

block content

  if(user)
      if(user.login == "admin" || user.login == "emul")
        header
          nav(id="menu",class="default")
            ul
              li()
                a(href="/") Устройства
              if(user.login == "admin")
                li()
                  a(href="/show_user") Пользователи
              if(user.login == "emul")
                li()
                  a(href="/show_emul") Эмулятор

  div(class="demo")
    p
        if(user)
          #user
            div(class="user-card")
              img(src="/images/anon.png", alt="")
              div(class="user-data")
                span Логин: #{user.login}
                br
                span Описание: #{user.description}
              div(class="user-data")
                form(action="/sign-out" method="get")
                  button(type="submit") Выйти
                div(class="clear")

          if(user.login == "admin")
            //здесь будет добавление новых устройств 
            h1 Ретрансляторы
            form(action="/add-device" method="get")
              button(type="submit") Добавить новое устройство
            #wrapper
              p
              #deviceListEdit
                  table
                      thead
                          th Идентификатор
                          th Описание
                          th Время 
                          th Канал 1
                          th Канал 2
                          th Канал 3
                          th Сеть БМС
                          th Удалить
                      tbody
          else  
            // это отображение текущих устройств 
            #wrapper
              h1 Ретрансляторы
              div(class="clear")
                #deviceListView
                    table
                        thead
                          th Идентификатор
                          th Описание
                          th Включено 
                          th Канал 1
                          th Канал 2
                          th Канал 3
                          th Сеть БМС
                        tbody
        else
          div(class="parent")
            div(class="block")
              div(class="auth-form")
                  form(action="/auth" method="post")
                    div
                    input(type="text" name="username" class="input user" placeholder="логин")
                    div
                    input(type="password" name="password" class="input password" placeholder="пароль")
                    div(class="buttons")
                    span Введите логин и пароль &nbsp;
                    button(type="submit") Войти