doctype html
html
  head
    title Авторизация
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/css/main.css')
    meta(name="robots", content="noindex,nofollow")
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/global.js')
    script(src='/js/script.js')