extends layout

block content
 h1= title
  div(class="demo")
    a(class="permalink", href="/") ← назад
    p

    h1 Список подключенных устройств к #{device.description}
    
    if(user)
        if(user.username != "test")
        //здесь будет добавление новых устройств 
        p
          button#addsmalldevice Добавить новое устройство
        #wrapper
          p
          #smalldeviceList
              table
                  thead
                      th Название
                      th Состояние
                      th Удалить
                  tbody
        // else  
        //   // это отображение текущих устройств 
        //   #wrapper
        //     h2 Список устройств
        //       #deviceList
        //           table
        //               thead
        //                   th Id Устройства
        //                   th Описание
        //               tbody
      

