extends layout

block content
  div(class="demo")
    a(class="permalink", href="/") ← назад
    p
    h1 Список подключенных устройств к #{device.description}
    div(class="clear")
      if(user)
        #user
          if(user.login == "admin")
            //здесь будет добавление новых устройств 
            p
            button#addsmalldevice Добавить новое устройство
            #wrapper
            p
            #smalldeviceListEdit
                table
                    thead
                        th Название
                        th Состояние
                        th Удалить
                    tbody
          else  
            // это отображение текущих устройств 
            p
            #wrapper
            p
            #smalldeviceListView
                  table
                      thead
                          th Название
                          th Состояние
                      tbody
      

