extends layout

block content
  div(class="demo")
    a(class="permalink", href="/") ← назад
    p
    h1 БМС (#{device.description})
    div(class="clear")
      if(user)
        #user
          if(user.login == "admin")
            //здесь будет добавление новых устройств 
            p
            button#addsmalldevice Добавить новое устройство
            //#wrapper
            p
            #smalldeviceListEdit
                table
                    thead
                        th Идентификатор
                        th Описание
                        th Включено
                        th Канал 1
                        th Канал 2
                        th Канал 3
                        th Удалить
                    tbody
          else  
            // это отображение текущих устройств 
            //p
            //#wrapper
            p
            #smalldeviceListView
                  table
                      thead
                        th Идентификатор
                        th Описание
                        th Включено
                        th Канал 1
                        th Канал 2
                        th Канал 3
                      tbody
      

