extends layout

block content
 if(user)
    if(user.username == "test")
      header
        nav(id="menu",class="default")
          ul
            li()
              a(href="/") Устройства
            li()
              a(href="/show_user") Пользователи
            
  h1= title
  div(class="demo")
          if(user)
          #user
            div(class="user-card")
              img(src="#{user.photoUrl}", alt="")
              div(class="user-data")
                span Имя: #{user.username}
              div(class="user-data")
                form(action="/sign-out" method="get")
                  button(type="submit") Выйти
                div(class="clear")

          if(user.username == "test")
            //здесь будет добавление новых устройств 
            p
            form(action="/add-user" method="get")
              button(type="submit") Добавить нового пользователя
            #wrapper
              p
              #userListEdit
                  table
                      thead
                          th Логин
                          th Описание
                          th Удалить
                      tbody