extends layout

block content
 
  if(user)
      if(user.login == "admin")
        header
          nav(id="menu",class="default")
            ul
              li()
                a(href="/") Устройства
              li()
                a(href="/show_user") Пользователи
            
  div(class="demo")
    p
        if(user)
          #user
            div(class="user-card")
              //img(src="#{user.photoUrl}", alt="")
              div(class="user-data")
                span Имя: #{user.login}
              div(class="user-data")
                form(action="/sign-out" method="get")
                  button(type="submit") Выйти
                div(class="clear")

          if(user.login == "admin")
            //здесь будет добавление новых устройств 
            p
            #addUser
                fieldset
                    input#inputUserName(type='text', placeholder='Логин')
                    br
                    p
                    input#inputUserFullname(type='text', placeholder='Описание')
                    br
                    p
                    input#inputUserPassword(type='text', placeholder='Пароль')
                    br
                    p
                    button#btnAddUser Добавить пользователя
            #wrapper
              p
              #userListEdit
                  table
                      thead
                          th Логин
                          th Описание
                          th Удалить
                      tbody
           