.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

body {
    background: #f2f2f2;
}

a {
    color: #006AB4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.demo {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.demo .permalink {
    display: block;
    color: #4F6B72;
    text-decoration: none;
    margin: 10px 0;
}

.clear {
    clear: both;
}

.user-card {
    border: 1px solid #ccc;
    padding: 10px;
}

.user-card img {
    float: left;
    width: 50px;
    height: 50px;
}

.user-data {
    padding-left: 60px;
}

.sign-out {
    margin-top: 10px;
}

.auth-form {
    
    padding: 10px;
    background: #fff;
    width: 240px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.error-msg {
    padding: 5px;
    border: 1px solid red;
    margin-bottom: 8px;
}

.auth-form .input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px 4px 4px 23px;
    width: 210px;
}

.auth-form .user {
    background: url("/images/ico-user.png") 4px no-repeat;
}

.auth-form .password {
    background: url("/images/ico-lock.png") 4px no-repeat;
}

.auth-form .buttons {
    text-align: right;
}

.auth-form .buttons span {
    float: left;
    margin-top: 6px;
}

.auth-form button {
    background-color: #575A82;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
}

.auth-form button:hover {
    background-color: #FF875E;
}

.soc-auth, .sign-out {
    margin-top: 10px;
}

#wrapper {
	padding-left:12px;
	position:relative;
}

#deviceListEdit {
	margin:10px 0 30px 0;
}

#deviceListEdit table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}

#deviceListEdit table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}

#deviceListEdit table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}

#deviceListEdit table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#deviceListView {
	margin:10px 0 30px 0;
}

#deviceListView table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}

#deviceListView table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}

#deviceListView table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}

#deviceListView table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#smalldeviceListEdit {
	margin:10px 0 30px 0;
}

#smalldeviceListEdit table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}

#smalldeviceListEdit table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}

#smalldeviceListEdit table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}

#smalldeviceListEdit table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#smalldeviceListView {
	margin:10px 0 30px 0;
}

#smalldeviceListView table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}

#smalldeviceListView table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}

#smalldeviceListView table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}

#smalldeviceListView table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}
#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
#userInfo p {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}

fieldset {
	border:0;
	padding:0; margin:0;
}

nav#menu{
    text-transform:uppercase;
        text-align:center;
        line-height:10px;
        background: #E6E6E6;
    border-radius:5px;
    padding:10px 10px 6px 10px;
    margin:5px auto 0;    
}
nav#menu ul li{
    display:inline;
}
nav#menu ul li a{
    text-decoration:none;
    color:#7A828B;
    font:16px verdana,sans-serif;
    padding:15px 30px;
    transition:0.5s;
}
nav#menu ul li a:hover{
    background: rgb(22, 22, 22);
    color: #FFF;
    transition:0.5s;
}
.default {
        width:600px;
}
.fixed {
        position:fixed;
        top:-5px; left:0;
        width:100%;
        padding:10px 0;
       -moz-box-shadow: 5px 5px 20px #666;
       -webkit-box-shadow: 5px 5px 20px #666;
       box-shadow: 0px 5px 10px #666;
       border-radius:0;
       transition:1s;
       background: #E6E6E6; 
 }

